/*=============================================================================

  File:         /node_modules/rwt-shadowbox/rwt-shadowbox.css
  Language:     CSS
  Copyright:    Read Write Tools © 2019
  License:      MIT
  Initial date: Dec 4, 2019
  Contents:     Popup box with titlebar and slotted contents

=============================================================================*/

:host {
	--pure-black: #000;
	--nav-black: #111;
	--light-black: #171717;
	--medium-black: #222;
	--black: #333;
	--dark-gray: #555;
	--gray: #777;
	--white: #ccc;
	--pure-white: #fff;
	--js-blue: #76afe8;
	--title-blue: #42affa;
	--yellow: #ffffa4;
	--red: #ff3d3d;
	
	/* custom element decorations */
	--color: var(--white);
	--accent-color1: var(--yellow);
	--accent-color2: var(--js-blue);
	--background: var(--black);
	--accent-background1: var(--medium-black);
	--accent-background2: var(--pure-black);
	--accent-background3: var(--nav-black);
	--accent-background4: var(--black);

	/* custom element variables */	
	--width: 70vw;
	--height: 50vh;
	--bottom: 1rem;
	--left: 1rem;

	/* calculated sizing */
	--caption-bar-height: 1.5rem;
}

#shadowbox-dialog {
	position: fixed;
	bottom: var(--bottom);
	left: var(--left);
	width: var(--width);
	max-width: 40rem;
	height: var(--height);
	max-height: 40rem;
	color: var(--color);
	background-color: var(--background);
	border-width: 1px;
	border-style: solid;
	border-color: var(--gray) var(--accent-background2) var(--accent-background2) var(--gray);
	box-shadow: -2px -2px 2px var(--accent-background2), 5px 5px 8px var(--accent-background2);
	z-index: 1;
	cursor: default;
}

#shadowbox-dialog * {
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
} 

/* ---------- dialog parts ---------- */
#caption-bar {
	display: flex;
	background-color: var(--accent-background1);
	width: 100%;
	height: var(--caption-bar-height);
	border-bottom: 1px solid var(--accent-background2);
}

#caption {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
	line-height: 1.6;
	color: var(--color);
	width: calc(100% - var(--caption-bar-height));
}

#close-button {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.9rem;
	text-align: center;
	display: inline-block;
	padding: 0rem 0.5rem;
	color: var(--color);
	background-color: var(--accent-background2);
	border-style: solid;
	border-width: 1px;
	border-color: var(--accent-background1);
}

#close-button:hover,
#close-button:visited:hover {
	color: var(--pure-white);
	background-color: var(--red);
	border: 1px solid var(--accent-background2);
}

#outer-margin {
	position: absolute;
    top: var(--caption-bar-height);
    bottom: 0;
    left: 0;
    width: 100%;
	overflow: auto;
}